name: Format, Lint and Test

on: [push, pull_request]

jobs:
  format-lint-test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - uses: actions/setup-python@v4
      with:
        python-version: '3.11'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install .[dev]

    - name: Autoformat code with black
      run: black .

    - name: Run flake8
      run: flake8 .

    - name: Run tests
      run: pytest --ignore=scripts/test_get_objects.py tests/

